<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teaching</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/CSS/stylesheet.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('body').css('display', 'none');
        $('body').fadeIn(350);
    });
    </script>
</head>
<body>
<header>
    <div>
        <a th:href="@{/}"/>
        <h1>Joshua Decker</h1>
    </div>
    <!--<h3 id="tagline">Classically Trained Music Instructor and Master of Funk</h3> -->
    <h3 id="tagline">Versatile Music Instructor and Voyaging Trumpeter</h3>
    <!-- Template for future Sign In and Sign Out Functionality -->

    <nav>
        <ul class="al">
            <li class="hz">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="hz">
                <a th:href="@{/bio}">Bio</a>
            </li>
            <li class="hz">
                <a th:href="@{/events}">Events</a>
            </li>
            <li class="hz">
                <a th:href="@{/teaching}">Teaching</a>
            </li>
            <li class="hz">
                <a th:href="@{/blog}">Blog</a>
            </li>
            <li class="hz">
                <a class="link" th:href="@{/lessons}">Lessons</a>
            </li>
            <li class="hz" th:if="${Visitor.loggedIn == true}">
                <a th:href="@{/logout}">Log Out</a>
            </li>
            <!--<li class="hz">
                <a th:href="@{/projects}">Projects</a>
            </li>
            -->
        </ul>
    </nav>
</header>
<p>Teaching</p>
</body>
</html>